<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		
		<ion-nav-bar class="bar-default">
			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		
		<ion-nav-view name="menuContent">
		</ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		
		<ion-header-bar class="bar-energized">
			<h1 class="title">Select recipe</h1>
		</ion-header-bar>
		
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close href="#/app/recipes">
					Աղցաններ և սառը խորտիկներ
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/recipe">
					Ձվով կերակրատեսակներ
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Ձկով կերակրատեսակներ
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Մսով կերակրատեսակներ
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Ապուրներ
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Մսով կերակրատեսակներ
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Կերակրատեսակներ թռչնամսով
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Ձավարի և ալյուրի կերակրատեսակներ
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Խմորեղեն
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Մուրաբաներ
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Չորացրած մրգեր, կանաչի, բանջարեղեն
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Մարինադներ և թթուներ
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Հյութեր և խմիչքներ
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Պահածոներ
				</ion-item>
			</ion-list>
			
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
