<ion-view view-title="Categories">
	<ion-content overflow-scroll="true">
	    <div class="row">

			<div class="col">
				<img src="./img/foods.jpg">
				<div class="overlay">
					<p>Armenian salad</p>
				</div>
			</div>

			<div class="col">
				<img src="./img/foods.jpg">
				<div class="overlay">
					<p>Meat salad</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col">
				<img src="./img/foods.jpg">
				<div class="overlay">
					<p>Armenian salad</p>
				</div>
			</div>

			<div class="col">
				<img src="./img/foods.jpg">
				<div class="overlay">
					<p>Meat salad</p>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>
