<ion-view view-title="Recipe title">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
		<ion-slide>
			<div class="row responsive-lg">
				<div class="col col-40">
					<div class="list card">

						<div class="item item-image">
							<img style="width: 100%; height: auto;" src="./img/foods.jpg">
						</div>

						<p style="padding: 10px;">
							This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
							the content is from a card-body consisting of an image and paragraph text. The footer
							consists of tabs, icons aligned left, within the card-footer.
						</p>
						<p>
							<a href="#" class="subdued">1 Like</a>
							<a href="#" class="subdued">5 Stars</a>
						</p>

						<div class="item tabs tabs-secondary tabs-icon-right">
							<a class="tab-item" href="#">
								<i class="icon ion-share"></i>
							</a>
							<a class="tab-item" href="#">
								<i class="icon ion-star"></i>
							</a>
							<a class="tab-item" href="#" ng-click="show()">
								<i class="icon ion-thumbsup"></i>
							</a>
						</div>

					</div>
				</div>
				<div class="col col-60">
					<div class="card">
						<div class="item item-divider">
							Ingredients
						</div>
						<div class="item" id="listItem">
							<div class="list">
								<a class="item">
									1/3 teaspoon sugar
								</a>
								<a class="item">
									1/3 teaspoon sugar
								</a>
								<a class="item">
									1/3 teaspoon sugar
								</a>
								<a class="item">
									1/3 teaspoon sugar1/3 teaspoon sugar1/3 teasp
								</a>	
							</div>			
						</div>
						<div class="item item-divider">
							Directions:
						</div>
						<div class="item item-text-wrap">
							<h2>First step</h2><hr>
							<p>
								For a more compact version that is useful in toolbars and tight spaces, add the data-mini="true" attribute to the element to create a mini version.The default icons o<br/>f collapsible headings can be overridden by using the data-collapsed-icon and data-expanded-icon attributes. In the example below, data-collapsed-icon="carat-d" and data-expanded-icon="carat-u". 	
							</p>
						</div>
					</div>
								
				</div>
			</div>
		</ion-slide>
</ion-slide-box>

  </ion-content>
</ion-view>
