<ion-view view-title="Armenian Recipes">
	<ion-content class="content">

		<div class="row">
			<div class="col">
				<ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true">
					<ion-slide>
						<img src="./img/foods.jpg">	
						<div class="slide-overlay">
							<p>Title</p>
						</div>	
					</ion-slide>

					<ion-slide>
						<img src="./img/food2.jpg">	
						<div class="slide-overlay">
							<p>Title</p>
						</div>	
					</ion-slide>

					<ion-slide>
						<img src="./img/food1.jpg">	
						<div class="slide-overlay">
							<p>Title</p>
						</div>	
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>

		<div class="row">

			<div class="col">
				<img src="./img/foods.jpg">
				<div class="overlay">
					<p>Armenian salad</p>
				</div>
			</div>

			<div class="col">
				<img src="./img/foods.jpg">
				<div class="overlay">
					<p>Meat salad</p>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>