/* Empty. Add your own CSS if you like */
.row {
	padding: 0;
}

.row .col {
	position: relative;
	padding: 2px;
	
}

.row .col img,
.row .col .col-40 img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}


.overlay {
	position: absolute;
	margin: 8px;
	bottom: 10px;
	border-radius: 3px;
	height: auto;
	width: auto;
	background-color: black;
	opacity: 0.8;
	color: white;	

}

.slide-overlay {
	position: absolute;
	margin: 6px;
	bottom: 4px;
	border-radius: 3px;
	height: auto;
	width: auto;
	background-color: black;
	opacity: 0.8;
	color: white;	

}

.slide-overlay p {
	position: absolute;
	margin: 8px;
	bottom: 10px;
	border-radius: 3px;
	height: auto;
	width: auto;
	background-color: black;
	opacity: 0.8;
	color: white;	
}

.slider-pager {
	bottom: 50%;
}

@media handheld and (max-width: 300px) {
	.overlay p {
			text-align: center;
			margin: 3px;
			font-size: 10px;
		}	
}


@media only handheld and (max-device-width: 1024px) {

	.overlay p {
		text-align: center;
		margin: 3px;
		font-size: 25px;
	}
}

.col-60 .item {
	border-color: #008000;
	background-color: #FFE4C4;
	color: #261010;
	position: relative;
	z-index: 2;
	display: block;
	margin: -1px;
	padding: 4px;
	border-width: 1px;
	border-style: solid;
	font-family: "Courier New", Courier, monospace;
	font-style: oblique;
}
